body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e5e5e5;
}

/* NAV */

.nav {
    background: #2c2c2c;
    padding: 15px;
}

.nav a,
.nav button {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

/* CONTAINER */

.container {
    padding: 20px;
}

/* AUTH */

.auth-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-box {
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.auth-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #999;
}

.auth-box button {
    width: 100%;
    padding: 10px;
    background: #444;
    color: white;
    border: none;
}
